
/*에러를 발생시킨 요소*/
.sj-errormanager-input-error {
	border:1px solid red;
	color:red;
	transition-duration:1s;
	/* background: url('img/import.png') no-repeat right;
	background-size: 20px 100%;
	background-color:white; */
}


/*에러를 발생시킨 요소가 포커스 됐을 때*/
.sj-errormanager-input-error:focus {
	border:1px dashed red;
}


/*에러를 표시하는 상자*/
.sj-errormanager-errordiv {
	color:red;
	font-size:12px;	
	transition-duration:1s;
}